<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://1231fsf.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/80c286b8-48be-4fb0-b9c0-ee5840d8bb4a/resourceGroups/ReenbitTestTask/providers/Microsoft.Web/sites/1231fsf</ResourceId>
    <UserName>$1231fsf</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://1231fsf.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>